<div class="container text-center"> <div class="row">
  <div class="col-md-4"></div> <div class="col-md-4">
  <h1>{{title}}</h1>
  <button class= 'btn btn-info' (click)="onClick()">HOME</button> <br><br>
  <button class= 'btn btn-info' routerLink="/crud-app" >CRUD APP</button> <br><br> <button class= 'btn btn-info' routerLink="/pokemons" >PokeAPI</button>
</div>
  <div class="col-md-4"> </div>
</div>
</div>
<br> <router-outlet> </router-outlet>

